/*--------------------------------------------------
  Import Foundation before your custom styles
--------------------------------------------------*/

@import "foundation";


/*--------------------------------------------------
  Import Leaflet from bower_components
--------------------------------------------------*/

@import "../../bower_components/leaflet/dist/leaflet.css";


/*--------------------------------------------------
  Global site layout
--------------------------------------------------*/

$site-header-height: 5.75rem;
$site-footer-height: 3rem;

body {
  min-height: 100%;
  background-color: $light-gray;
}
html, body {
  @include breakpoint(medium) {
    height: 100%;
    position: relative;
  }
}

#site-header {
  padding: $global-margin 0;
  box-shadow: 0 rem-calc(6) 0 0 rgba(0,0,0,0.15);
  position: relative;
  z-index: 2;
  background-color: $light-gray;
  @include breakpoint(medium) {
    height: $site-header-height;
  }
}

#site-body {
  @include clearfix;
  position: relative;
  z-index: 1;
  background-color: $white;
  @include breakpoint(medium) {
    position: absolute;
    top: $site-header-height;
    right: auto;
    bottom: $site-footer-height;
    left: 0;
    width: 100%;
    overflow: scroll;
  }
}

#site-footer {
  padding: $global-margin*2 0;
  box-shadow: 0 rem-calc(-6) 0 0 rgba(0,0,0,0.15);
  position: relative;
  z-index: 2;
  background-color: $light-gray;
  @include breakpoint(medium) {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $site-footer-height;
    padding: $global-margin/2 0;
    overflow: hidden;
  }
}

#content {
  position: relative;
  z-index: 2;
  display: none;
  .content-visible & {
    display: block;
  }
  @include breakpoint(medium) {
    float: left;
    width: 50%;
    height: 100%;
    overflow: visible;
    box-shadow: rem-calc(-6) 0 0 0 rgba(0,0,0,0.15);
  }
  @include breakpoint(large) {
    width: 40%;
  }
}
#post {
  padding: $global-margin;
  overflow: auto;
  max-height: 100%;
}

#content-close-button {
  background-color: $white;
  padding: 0 $global-margin/2;
  @include breakpoint(small only) {
    top: auto;
    right: auto;
    bottom: 100%;
    padding: 0 $global-margin;
    left: $global-margin;
  }
  @include breakpoint(medium) {
    right: 100%;
    line-height: 1.5;

    top: rem-calc(12);
    // margin: 0 -0.325em 0 0;
    padding: rem-calc(2) rem-calc(4) rem-calc(6) rem-calc(14);
    border-radius: 0.325em 0 0 0.325em;
    box-shadow: rem-calc(-6) rem-calc(6) 0 rgba(0,0,0,0.15);
    font-family: "Helvetica Neue", Arial, Helvetica, serif;

  }
  small {
    font-size: 0.5em;
    display: inline-block;
    vertical-align: middle;
  }
}

#map-container {
  position: relative;
  z-index: 1;
  width: 100%;
  @include breakpoint(medium) {
    float: left;
    height: 100%;
  }
  .content-visible & {
    @include breakpoint(medium) { width: 50%; }
    @include breakpoint(large) { width: 60%; }
  }
}

#map {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 500px;
  @include breakpoint(medium) {
    height: 100%;
  }
}

#add-place {
  display: block;
  width: 100%;
  position: relative;
  z-index: 2;
  @include breakpoint(small only) {
    .content-visible & {
      display: none;
    }
  }
  @include breakpoint(medium) {
    width: auto;
    position: absolute;
    left: $global-margin;
    bottom: $global-margin;
    right: $global-margin;
    margin: 0;
  }
}


/*--------------------------------------------------
  Typography
--------------------------------------------------*/

.site-title {
  display: inline-block;
  font-size: rem-calc(24);
  @include breakpoint(medium) {
    font-size: rem-calc(40);
  }
}

.site-description {
  display: inline-block;
}

.shareabouts-font {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
}

.colophon {
  p {
    font-size: rem-calc(12);
  }
  .shareabouts-font {
    font-size: 1.5em;
  }
}


/*--------------------------------------------------
  Comments & Forms
--------------------------------------------------*/

.post-comments {}
.commentlist {
  @extend .no-bullet;
}
.comment {
  .children {
    list-style: none;
    margin-left: $global-margin*2;
  }
}
.comment-body{
  margin-bottom: $global-margin*2;
}
.comment-reply-link {
  @extend .button, .small;
}
[type=submit] {
  @extend .button;
}
