/*--------------------------------------------------
  Import Foundation before your custom styles
--------------------------------------------------*/

@import "foundation";


/*--------------------------------------------------
  Import Leaflet from bower_components
--------------------------------------------------*/

@import "../../bower_components/leaflet/dist/leaflet.css";


/*--------------------------------------------------
  Global site layout
--------------------------------------------------*/

$site-header-height: 5rem;
$site-footer-height: 3rem;

body {
  min-height: 100%;
  background-color: $light-gray;
}
html, body {
  @include breakpoint(medium) {
    height: 100%;
    position: relative;
  }
}

#site-header {
  padding: $global-margin ;
  box-shadow: 0 rem-calc(6) 0 0 rgba(0,0,0,0.15);
  position: relative;
  z-index: 2;
  background-color: $light-gray;
  @include breakpoint(medium) {
    height: $site-header-height;
  }
  @include breakpoint(large) {
    display: table;
    width: 100%;
  }
}

#site-header-primary {
  padding-right: 24px; // match hamburger width
  margin-right: $global-margin;
  position: relative;
  @include breakpoint(large) {
    display: table-cell;
    vertical-align: middle;
  }
}

#site-header-secondary {
  @include breakpoint(medium) {
    background-color: lighten($light-gray,5%);
    max-width: 20rem;
    margin: 0 0 0 auto;
    padding: $global-margin;
    box-shadow: rem-calc(-6) rem-calc(6) 0 0 rgba(0,0,0,0.15);
  }
  @include breakpoint(large) {
    background-color: transparent;
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: none;
    display: table-cell;
    text-align: right;
    vertical-align: middle;
  }
  .menu {
    @include breakpoint(large) {
      float: right;
    }
  }
}
#user-menu {
  @include breakpoint(large) {
    float: right;
    margin-left: $global-margin;
    .avatar {
      width: 3rem;
    }
  }
}

$hamburger-height: 20px; // must be set in pixels
#site-header-toggle-button {
  @include hamburger(
    $color: $dark-gray,
    $color-hover: $black,
    $width: 24px,
    $height: $hamburger-height,
    $weight: 3px,
    $bars: 3
  );
  position: absolute;
  top: 50%;
  right: -$global-margin;
  margin-top: $hamburger-height/-2;
  @include breakpoint(large) {
    display: none;
  }
}

#site-body {
  @include clearfix;
  position: relative;
  z-index: 1;
  background-color: $white;
  @include breakpoint(medium) {
    position: absolute;
    top: $site-header-height;
    right: auto;
    bottom: $site-footer-height;
    left: 0;
    width: 100%;
    overflow: scroll;
  }
}

#site-footer {
  padding: $global-margin*2 0;
  box-shadow: 0 rem-calc(-6) 0 0 rgba(0,0,0,0.15);
  position: relative;
  z-index: 2;
  background-color: $light-gray;
  @include breakpoint(medium) {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $site-footer-height;
    padding: $global-margin/2 0;
    overflow: hidden;
  }
}

#content {
  position: relative;
  z-index: 2;
  display: none;
  .content-visible & {
    display: block;
  }
  @include breakpoint(medium) {
    float: left;
    width: 50%;
    height: 100%;
    overflow: visible;
    box-shadow: rem-calc(-6) 0 0 0 rgba(0,0,0,0.15);
  }
  @include breakpoint(large) {
    width: 40%;
  }
}
#post {
  padding: $global-margin;
  overflow: auto;
  max-height: 100%;
}

#content-close-button {
  background-color: $white;
  padding: 0 $global-margin/2;
  @include breakpoint(small only) {
    top: auto;
    right: auto;
    bottom: 100%;
    padding: 0 $global-margin;
    left: $global-margin;
  }
  @include breakpoint(medium) {
    right: 100%;
    line-height: 1.5;

    top: rem-calc(12);
    // margin: 0 -0.325em 0 0;
    padding: rem-calc(2) rem-calc(4) rem-calc(6) rem-calc(14);
    border-radius: 0.325em 0 0 0.325em;
    box-shadow: rem-calc(-6) rem-calc(6) 0 rgba(0,0,0,0.15);
    font-family: "Helvetica Neue", Arial, Helvetica, serif;

  }
  small {
    font-size: 0.5em;
    display: inline-block;
    vertical-align: middle;
  }
}

#map-container {
  position: relative;
  z-index: 1;
  width: 100%;
  @include breakpoint(medium) {
    float: left;
    height: 100%;
  }
  .content-visible & {
    @include breakpoint(medium) { width: 50%; }
    @include breakpoint(large) { width: 60%; }
  }
}

#map {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 500px;
  @include breakpoint(medium) {
    height: 100%;
  }
}

#add-place {
  display: block;
  width: 100%;
  position: relative;
  z-index: 2;
  @include breakpoint(small only) {
    .content-visible & {
      display: none;
    }
  }
  @include breakpoint(medium) {
    width: auto;
    position: absolute;
    left: $global-margin;
    bottom: $global-margin;
    right: auto;
    margin: 0;
  }
}


/*--------------------------------------------------
  Typography
--------------------------------------------------*/

.site-title {
  display: inline-block;
  font-size: rem-calc(24);
  line-height: 1.2;
  @include breakpoint(medium) {
    font-size: rem-calc(40);
  }
}

.site-description {
  display: inline-block;
}

.shareabouts-font {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
}

.colophon {
  p {
    font-size: rem-calc(12);
  }
  .shareabouts-font {
    font-size: 1.5em;
  }
}


/*--------------------------------------------------
  Comments & Forms
--------------------------------------------------*/

.post-comments {}
.commentlist {
  @extend .no-bullet;
}
.comment {
  .children {
    list-style: none;
    margin-left: $global-margin*2;
  }
}
.comment-body{
  margin-bottom: $global-margin*2;
}
.comment-reply-link {
  @extend .button, .small;
}
[type=submit] {
  @extend .button;
}


/*--------------------------------------------------
  Center Point (new point icon)
--------------------------------------------------*/

#centerpoint {
  display: none;

  &.newpin {
    display: inline-block;
    overflow: visible;
    position: absolute;
    top: 50%;
    left: 50%;
    pointer-events: none;
    z-index: 11;
    width: 47px;
    height: 47px;
    margin: -44px 0 0 -12px;

    .x {
      display: block;
      position: absolute;
      width: 18px;
      height: 12px;
      background: transparent url(../images/marker-x.png) 0 0 no-repeat scroll;
      left: 4px;
      top: 37px;
      opacity: 0;
      transition: opacity 0.25s;
    }
    &:hover .x,
    &.dragging .x {
      opacity: 1;
    }

    .shadow {
      display: block;
      height: 47px;
      width: 47px;
      position: absolute;
      top: 0;
      left: 0;
      background: transparent url(../images/marker-shadow.png) 0 3px no-repeat scroll;
      transition: opacity 0s, background-position 0.3s ease;
    }
    &:hover .shadow,
    &.dragging .shadow {
      opacity: 0.2;
      background-image:
        url(../images/marker-shadow.png),
        url(../images/marker-shadow.png),
        url(../images/marker-shadow.png),
        url(../images/marker-shadow.png),
        url(../images/marker-shadow.png),
        url(../images/marker-shadow.png),
        url(../images/marker-shadow.png),
        url(../images/marker-shadow.png),
        url(../images/marker-shadow.png)
        ;
      background-position:
        0px -3px,
        3px -3px,
        6px -3px,
        0px -6px,
        3px -6px,
        6px -6px,
        0px -9px,
        3px -9px,
        6px -9px
      ;
    }

    .marker {
      display: block;
      width: 25px;
      height: 41px;
      background: transparent url(../images/marker-plus.png) 0 0 no-repeat scroll;
      position: relative;
      top: 3px;
      transition: top 0.3s ease;
    }
    &:hover .marker,
    &.dragging .marker {
      top: -20px;
    }

  }
}
